.flexed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vh-100 {
    min-height: 100vh;
}

.w-24 {
    width: 24rem;
}

.flex-grow {
    flex-grow: 1;
}

.blue-grey-dark {
    background-color: #546e7a;
}

.blue-grey-darker {
    background-color: #263238;
}

.orange-text {
    color: #ffb74d;
}

.teal {
    background-color: #009688;
    transition: all 100ms ease-in-out;
}

.teal:hover {
    background-color: #4db6ac;
}

.teal-text {
    color: #80cbc4;
}

.teal-text:hover {
    color: #b2dfdb;
}

.blue-grey-lighter {
    color: #eceff1;
}

.red {
    background-color: #e53935;
    transition: all 100ms ease-in-out;
}

.red:hover {
    background-color: #f44336;
}

.comments {
    max-height: 200px;
    overflow: auto;
    background-color: #78909c;
}

.blue-grey-text {
    color: #263238;
}